.navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    background-color: #FF6821;
    color: white;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}



.navbarLinks{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-weight: 300;
    cursor: pointer;
    
}

.navbarLinks :hover{
    font-weight: 600;
}